[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/Pichi"]
	path = Carthage/Checkouts/Pichi
	url = https://github.com/baydet/Pichi.git
